node_modules
build
public/build
shopify-app-remix
*/*.yml
.shopify
extensions/urgify-theme/assets/urgify.js
extensions/urgify-theme/assets/urgify.min.js
extensions/urgify-theme/assets/urgify-stock-alert.min.js
